# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: C3S Atlas jupyter-book
author: the Copernicus Climate Change Service (C3S), entrusted to ECMWF (European Centre for Medium-Range Weather Forecasts)                        # The author of the book
copyright: "2025"                     # Copyright year to be placed in the footer
logo: C3S–POS–LINE.png

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: 'off'

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
sphinx:
  extra_extensions:
    - sphinxcontrib.bibtex
bibtex_bibfiles:
  - references.bib

# Information about where the book exists on the web
repository:
  url: https://github.com/ecmwf-projects/c3s-atlas  # Online location of your book
  path_to_book: docs  # Optional path to your book, relative to the repository root
  branch: master  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true

  announcement: "⚠️This is under development!⚠️" # A banner announcement at the top of the site.
